<ion-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-toolbar>
          <ion-title>Pessoas</ion-title>
        </ion-toolbar>
      </ion-col>
      <ion-col size="6"> <ion-button (click)="voltar()" expand="block" fill="clear" shape="round">
        Voltar
      </ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <form [formGroup]="pessoasForm" (ngSubmit)="CreateRecord()">
    <ion-item>
      <ion-label position="floating">Nome: <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="Nome" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Idade <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="Idade" type="text"></ion-input>
    </ion-item>
    <ion-button block color="primary" type="submit">
      CADASTRAR
    </ion-button>
  </form>

  <ion-card *ngFor="let item of pessoasList">
    <ion-card-header>
      <ion-card-subtitle>Resultado Imc</ion-card-subtitle>
      <ion-card-title>NOME: {{ item.Nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>idade: {{item.Idade }}
    <ion-button (click)="deletar(item.id)" expand="block" fill="clear" shape="round">
      DELETAR
    </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>