<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    IMC COM CRUD 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="cadastraPessoas()" expand="block" fill="clear" shape="round">
        CADASTRAR PESSOAS
   </ion-button>
  </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
 <ion-card>
   <ion-card-header>
     <ion-card-subtitle>CALCULAR IMC</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
    <form [formGroup]="IMCForm" (ngSubmit)="Calcular()">
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-select   formControlName="Nome" placeholder="Select Name">
          <ion-select-option *ngFor="let item of pessoasList" value="{{ item.Nome }}">{{ item.Nome }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Peso <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="Peso" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Altura <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="Altura" type="number"></ion-input>
      </ion-item>

   
      <ion-button block color="primary" type="submit">
        Calcular IMC
      </ion-button>
    </form>

    <ion-col size="4">
         <div>{{ valorImc }}</div>
    </ion-col>
   </ion-card-content>
 </ion-card> 
<ion-card *ngFor="let item of Imc">
  <ion-card-header>
    <ion-card-title>Nome: {{ item.Nome }}</ion-card-title>
    <ion-card-subtitle>Peso: {{ item.Peso }}</ion-card-subtitle>
    <ion-card-subtitle>Altura: {{ item.Altura }}</ion-card-subtitle>
    <ion-card-subtitle>CalculoImc: {{ item.CalculoImc }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-button (click)="delete(item.id)" expand="block" fill="clear" shape="round">
      Deletar
    </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
